<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExampleSignalR.DAL.Properties.Settings.ChatServerUsingSignalRConnectionString"
            connectionString="Data Source=RAJEEV2015;Initial Catalog=ChatServerUsingSignalR;Persist Security Info=True;User ID=sa;Password=Passw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>